.grocery-div {
    width: 65vw;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    
}

.li-style-isDone {
    text-decoration: line-through;
}

.button-div {
    font-size: 1.3rem;
}

li {
    list-style-type: none;
}

.list {
    display: flex;
    align-items: center;
}